body{
    text-align: justify;

    font-family: 'Libre Caslon Text', serif;
    text-decoration: none;
}

h1 h2 h3 h4 h5 h6{
    font-family: 'Courgette', cursive;
    font-display: bold;
}


/* .carousel-caption{
    color: rgb(214, 214, 214);
    font-size: 30px;
    margin-bottom: 5%;
    text-shadow:10px;
} */

[data-slide] img{
    height: 550px;
}

  
.dropdown-content {
    display: none;
    position: absolute;
    background-color:  #007bff;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    text-decoration-color: none;
}

/* .navbar .dropdown:hover  {
    height: 200px;
    display: block;
    text-decoration-color: none;
} */

.dropdown-items{
    color: white;
}

.dropdown-items:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 20px;
    
}

.login{
    color: white;
}

.login:hover{
    color: black;
    text-decoration: none;
    padding-left: 20px;
    
}
/* .signup{
    color: black;
} */



.container .location-pic{
    display: inline-block;
    
}
/* .container .location-pic h5{
     text-align: center; 
    
} */

.container .location-pic img{
    float: left;
    padding-right: 10px;
}

.container .tour-title{
    text-align: center;
}



.destination-form{
    border-radius: 10px;
    padding: 15px
}

.form-group .btn:hover{
  background-color: #007bff;
  color: white;
}
.services{
    border-radius: 10px
}
.services h1{
    text-align: center;
    padding-top: 25px;
}

.services .card{
    text-align: center;
    color: white
   
}
.sidebar form .text-monospace{
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 5px;

}

.sidebar form .text-monospace:focus{
    border-radius: 10px;
    border:white;
}

form{
    /* background-color: rgb(39, 109, 131); */
    /* padding: 10px;
    border-radius: 5px ; */
    color: white;
}

.page-link:hover{
    background-color: #007bff;
    color: white;
}

.blog h1{
    text-align: center;
}

.footer .social{
    background-color: black;
}

.foot-col .fab{
    padding: 10px;
}

.book_now:hover{
    padding-left: 30px;
    color: grey;
}
/* form .search{
    border: 5%;
    border-radius: 20%;
} */

/* .card-title .fas{
    color: gray; 
} */

.destinations .cont-wrapper{
    height: 100px;
    width: 100px;
    background: rgb(204, 218, 223);
    border-radius: 50%;
    text-align: center;

}

.destinations .fa-map-marker-alt{
    margin-top: 40px;

}
.destinations .continent{
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: black;

}

.tour-place .card{
    text-align: center
}

.sidebar2 .text-wrapper{
    height: 20px;
    width: 80%;
    background: rgb(204, 218, 223);
}

